*{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    background: #FFFFFF;
    font-family: 'Gothic A1', sans-serif;
	height: 100%;
	width: 100%;
    line-height: calc(30 / 16 * 100%);
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    color: white;
    font-weight: 400;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
* {
    -webkit-tap-highlight-color: transparent;
  }
/*--------------------*/
body._lock{
    overflow: hidden;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
._container{
    max-width: 1152px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*-----------------HEADER----------------*/
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__body{
    padding: 29px 15px;
}
.header__body_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__ul{
    display: flex;
    align-items: center;
}
.navbar__ul >*{
    margin: 0 15px;
}
.navbar__li{
    cursor: pointer;
    transition: all 0.2s ease 0s;
    font-size: 15px;
    line-height: calc(20 / 15 * 100%);
}
.navbar__li:active{
    color: rgb(214, 214, 214);
}
@media (min-width: 993px){
    .navbar__li:hover{
        color: rgb(214, 214, 214);
    }
}
.header__burger{
    display: none;
    outline: none;
}

@media (max-width: 767px){

    .navbar__ul >*{
        margin: 0;
    }
    .header__burger{
        flex: 0 0 30px;
        display: flex;
        position: relative;
        height: 20px;
        z-index: 6;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        justify-content: space-between;
    }
    .header__burger span,
    .header__burger::before,
    .header__burger::after{
        background-color: white;
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
    }
    .header__burger::before{
        height: 12%;
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header__burger._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .header__burger._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__burger._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header__burger._active span,
    .header__burger._active::before,
    .header__burger._active::after{
        background-color: white;
    }

    .navbar__li:active{
        color: rgb(214, 214, 214);
    }
    .navbar__ul{
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
    }
    .navbar{
        padding: 100px 0 0 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
        transform: translate(0,-100%);
    }
    .navbar._active{
        transform: translate(0,0);
    }
    .navbar__li{
        font-weight: 500;
        margin: 0 0 20px 0;
        max-width: 100%;
        font-size: 18px;
        line-height: calc(20 / 20 * 100%);
    }
}


/*-----------------MAIN-------------*/
main{
    flex: 1 1 auto;
}

.page{
    position: relative;
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100% 200%), #CF0063;
}

.page__body {
    padding: 277px 15px;
    position: relative;
}
.page__body_contant {
    position: relative;
    z-index: 2;
    padding-top: 20px;
}
h1{
    font-size: 80px;
    line-height: calc(80 / 80 * 100%);
}
.page__body_contant_text {
    font-size: 30px;
    line-height: calc(44 / 30 * 100%);
    margin-top: 10px;
}
.page__body_contant_btn{
    display: flex;
    margin-top: 25px;
}
.page__body_contant_btn a{
    transition: all 0.2s ease 0s;
    color: white;
    padding: 20px 40px;
    background: #FC0A7E;
    border-radius: 3px;
    font-size: 16px;
    line-height: calc(26 / 16 * 100%);
}
.page__body_img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -100px;
    animation-name: img_anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes img_anim{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 50px;
    }
    100%{
        bottom: 0;
    }
}
.page__btn{
    padding: 0 10px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
.page__body_contant_btn a:active{
    color: #FC0A7E;
    background: white;
}
@media (max-width: 1024px){
    .page__body_img {
        bottom: -50px;
    }
    .page__body_img img{
        opacity: 0.5;
    }
    .page__body {
        padding: 227px 15px;
    }
    /* .page{
        filter: brightness(90%);
    } */
    @keyframes img_anim{
        0%{
            bottom: -50px;
        }
        50%{
            bottom: 0px;
        }
        100%{
            bottom: -50px;
        }
    }
}
@media (min-width: 993px){
    .page__body_contant_btn a:hover{
        color: #FC0A7E;
        background: white;
    }
}
@media (max-width: 892px){
    .page__body_img {
        bottom: 0;
        right: 0;
        position: relative;
        animation-name: img_anim;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        margin-top: 50px;
        text-align: center;
    }
    .page__body_img img{
        opacity: 1;
    }
    .page__body {
        padding: 177px 15px 100px 15px;
    }
    .page__body_contant{
        padding: 0 50px;
    }
    h1,
    .page__body_contant_text,
    .page__body_contant_btn{
        text-align: center;
        justify-content: center;
    }
    @keyframes img_anim{
        0%{
            bottom: -50px;
        }
        50%{
            bottom: 0px;
        }
        100%{
            bottom: -50px;
        }
    }
}
@media (max-width: 767px){
    h1{
        font-size: 60px;
        line-height: calc(60 / 60 * 100%);
    }
    .page__body_contant_text {
        font-size: 25px;
        line-height: calc(39 / 25 * 100%);
        margin-top: 10px;
    }
    .page__body_img img{
        width: 100%;
        object-fit: cover;
    }
    .page__body_contant_btn a{
        padding: 10px 30px;
    }
}
@media (max-width: 480px){
    .page__body {
        padding: 127px 15px 80px 15px;
    }
    .page__body_contant{
        padding: 0;
    }
}

/*-----------------------LITE--------------------*/
.lite {
    padding-top: 80px;
    background: #1B1B1B;
}
.lite__body {
}
.lite__body_contant {
    padding: 20px 46px 55px 46px;
}
.lite__body_contant_text {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: calc(20 / 12 * 100%);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}
h2{
    font-size: 38px;
    line-height: calc(48 / 38 * 100%);
}
.lite__body_contant h2{
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 607px;
}
.lite__body_img {
    margin: 0 -24px 0 -24px;
}
.lite__body_img img{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 520px){
    .lite__body_contant h2{
        font-size: 28px;
    }
}






/*----------------------INFO------------*/
.info {
    padding: 80px 0;
}
.info__body {
    display: flex;
}
.info__body_block{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}
.info_row{
    flex-direction: row-reverse;
}
.info__body_block:first-child{
    transform: translateX(100%);
}
.info__body_block:last-child{
    transform: translateX(-100%);
}

.info__body._look .info__body_block{
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}
/* .info__body._look.info_row {
    flex-direction: row;
} */

.info__body_contant {
    flex: 0 1 64.3%;
    display: flex;
    align-items: center;
}
.contant_info{
    flex: 0 1 54.3%;
}
.info__body_contant_box{
    padding-left: 72px;
    padding-right: 15px;
}
.info__body_contant_box h2{
    max-width: 302px;
    text-align: start;

}
.info__body_contant_title {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: calc(20 / 12 * 100%);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}
.info__title {
    color: black;
}
.info__body_contant_text {
    margin-top: 22px;
    max-width: 306px;
    font-size: 16px;
    line-height: calc(30 / 16 * 100%);
    color: #6B6B6B;
}
.info__body_img {
}
.info__body_img_box {
}
@media (max-width: 767px){
    .info__body_contant_box{
        padding-left: 22px;
        padding-right: 15px;
    }
    .info {
        padding: 50px 0;
    }
}
@media (max-width: 610px){
    .info__body_contant_box{
        padding-left: 0px;
        padding-right: 5px;
    }
}
@media (max-width: 530px){
    .info__body_contant_box h2,
    .info__body_contant_title{
        text-align: center;
    }
    .info__body {
        display: block;
    }
    .info__body_img{
        margin-top: 50px;
    }
    .info__body_img_box{
        width: 100%;
        height: 100%;
    }
    .info__body_img_box img{
        width: 100%;
        object-fit: cover;
    }
    .info__body_contant_box{
        padding-left: 0;
    }
    .info__body_contant_box h2,
    .info__body_contant_text{
        max-width: 100%;
    }
}

/*-------------------SPECIAL---------------*/
.special {
    padding: 50px 0;
}
.special__body {
}
.special__body_contant {
    display: flex;
}
.special__body_contant_box{
    flex: 0 1 33.333%;
}
.special__body_contant_box_block {
    margin: 30px 0;
    padding: 0 30px;
    text-align: center;
}
.special__body_contant_box_img {
    margin-bottom: 40px;
}
.special__text {
    max-width: 371px;
    margin-top: 17px;
    margin: 0 auto;
}

@media (max-width: 892px){
    .special__body_contant_box_block {
        padding: 0 15px;
    }
}
@media (min-width: 768px){
    .special__body_contant_box_block {
        transition: all 0.3s ease 0s;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        pointer-events: none;
    }
    .special__body_contant_box:nth-child(2) .special__body_contant_box_block{
        transition: all 0.3s ease 0.3s;
    }
    .special__body_contant_box:nth-child(3) .special__body_contant_box_block{
        transition: all 0.3s ease 0.6s;
    }
    .special__body_contant_box_block._look{
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
}
@media (max-width: 767px){
    .special {
        padding: 20px 0;
    }
    .special__body_contant {
        flex-wrap: wrap;
    }
    .special__body_contant_box {
        flex: 0 1 50%;
    }
    .special__body_contant_box_block{
        margin: 30px 0;
        padding: 0 10px;
    }
}
@media (max-width: 480px){
    .special__body_contant_box {
        flex: 0 1 100%;
    }
}

/*----------------TEXTS--------------*/
.texts {
    padding: 50px 0;
}
.texts__body {
}
.texts__body_contant {
    display: flex;
}
.texts__body_contant_box {
    flex: 0 1 25%;
    margin: 30px 0;
    text-align: center;
}
.texts__body_contant_box_text {
    font-size: 59px;
    line-height: calc(90 / 59 * 100%);
    text-align: center;
    color: #333333;
    margin-bottom: 10px;
}

@media (max-width: 767px){
    .texts {
        padding: 20px 0;
    }
    .texts__body_contant {
        flex-wrap: wrap;
    }
    .texts__body_contant_box {
        flex: 0 1 50%;
    }
}
@media (max-width: 400px){
    /* .texts__body_contant_box {
        flex: 0 1 100%;
    } */
}

/*--------------------BURDER-----------------*/
.burger_info{
    flex: 0 1 47%;
}
.burger_img{
    flex: 0 1 53%;
    display: flex;
    align-items: center;
}
.burger_body{
    flex-direction: row-reverse;
}
.info__body_img_box img{
    width: 100%;
    object-fit: cover;
}
@media (max-width: 944px){
    .burger_info{
        flex: 0 1 57%;
    }
    .burger_img{
        flex: 0 1 43%;
    }
}

@media (max-width: 767px){
    .burger_info .info__body_contant_box{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 680px){
    .burger .info__body{
        display: block;
    }
    .burger_img{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .burger_info{
        display: block;
    }
    .burger_info h2,
    .burger .info__body_contant_text,
    .burger .info__body_contant_title{
        max-width: 100%;
        text-align: center;
    }
}
@media (max-width: 610px){
    .info__body_contant_box{
        padding-left: 0px;
        padding-right: 5px;
    }
}

/*------------------SLIDER----------------*/
.slider {
    padding: 80px 0 40px 0;
}
.slider__body {
}

.slider__body_box {
    margin: 0 auto;
    max-width: 700px;
}
.owl-carousel {
}
.owl-theme {
}
.slider__body_contant {
}
.slider__body_contant_img {
    display: flex;
    justify-content: center;
}
.owl-carousel .owl-item img{
    width: inherit;
}
.slider__body_contant_text {
    font-size: 24px;
    line-height: calc(40 / 24 * 100%);
    text-align: center;
    color: #6B6B6B;
    margin-top: 63px;
}
.slider__body_contant_name {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__body_contant_name >*:not(:last-child){
    margin-right: 20px;
}
.slider__body_contant_name_text {
    font-size: 16px;
    line-height: calc(30 / 16 * 100%);
    text-align: center;
    color: #6B6B6B;
}
.slider__body_contant_name span{
    width: 30px;
    height: 1px;
    background: #D3D3D3;
}
.slider__body_contant_name_times {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16 * 100%);
    text-align: center;
    color: #6B6B6B;
}

.owl-theme .owl-dots .owl-dot span{
    background: rgba(34, 34, 34, 0.4);
    width: 7px;
    height: 7px;
    border-radius: 0;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #222222;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: 65px;
}
@media (max-width: 992px){
    .slider {
        padding: 40px 0 30px 0;
    }
}
/*-----------------IMAGE--------*/
.image {
    padding: 40px 0 0 0;

}
.image__body {
    position: relative;

}
.image__body_box{

    width: 100%;
    height: 100%;
}
.image__body_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*---------------waves-----------*/
.waves{
    position: relative;
    padding: 124px 0 115px 0;
}
.waves__body{
    position: relative;
    z-index: 10;
}
.waves__body_box h2{
    text-align: center;
}
.waves__body_box_btns{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.waves__body_box_btns a{
    transition: all 0.2s ease 0s;
    padding: 20px 40px;
    font-size: 16px;
    line-height: calc(26 / 16 * 100%);
    text-align: center;
    color: #FFFFFF;
    background: #FC0A7E;
    border-radius: 3px;
}
.waves__body_box_btns>*:not(:first-child){
    margin-left: 10px;
    border: 1px solid #B04BB3;
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
}
.waves__body_box_btns a:active{
    color: #FC0A7E;
    background: white;
}
.waves__body_box_btns>*:not(:first-child):active{
    background: #B04BB3;
    color: white;
}
@media (min-width: 993px){
    .waves__body_box_btns a:hover{
        color: #FC0A7E;
        background: white;
    }
    .waves__body_box_btns>*:not(:first-child):hover{
        background: #B04BB3;
        color: white;
    }
}

.waves__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.waves__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.waves__img img:last-child{
    width: 120%;
    left: 0;
    animation-name: img_anim_waves;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes img_anim_waves{
    0%{
        left: 0;
    }
    50%{
        left: -20%;
    }
    100%{
        left: 0;
    }
}
@media (max-width: 767px){
    .waves{
        padding: 74px 0 65px 0;
    }
}
@media (max-width: 520px){
    .waves__img img:last-child{
        width: 120%;
        left: 0;
        animation-name: img_anim_waves;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
}
@media (max-width: 444px){
    .waves__body_box_btns a{
        flex: 0 1 100%;
    }
    .waves__body_box_btns{
        flex-wrap: wrap;
    }
    .waves__body_box_btns>*:not(:first-child){
        margin-left: 0;
        margin-top: 10px;
    }
}

/*--------------------FOOTER------------------*/
footer{
    background: #1B1B1B;
}
.footer_top {
    padding: 90px 0 70px 0;
}
.footer_top__body {
}

.footer_top__body_box {
    padding: 40px 0 55px 0;
    max-width: 456px;
    margin: 0 auto;
}
.footer_top__body_box_text {
    font-size: 16px;
    line-height: calc(30 / 16 * 100%);
    text-align: center;
    color: #6B6B6B;
    margin: 20px;
}

.footer_bottom {
}
.footer_bottom__body {
}
.footer_bottom__body_box {
    margin: 0 auto;
    max-width: 575px;
    padding: 20px 0 68px 0;
}
.footer_bottom__body_box_img {
    display: flex;
    justify-content: center;
}
.footer_bottom__body_box_texts {
    margin: 0 -15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_bottom__body_box_text {
    margin: 0 15px;
    font-size: 11px;
    line-height: calc(20 / 11 * 100%);
    text-align: center;
    color: #6B6B6B;
}

.subscribe__form{
    margin-top: 40px;
    min-height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
}
.subscribe__input{
    position: absolute;
    top: 0px;
    left: 0px;
    flex: 1 1 auto;
    height: 100%;
    padding: 8px 8px 8px 24px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    line-height: 26px;
}
.subscribe__button_box{
    position: relative;

}
.subscribe__button{
    padding: 22px 39px;
    height: 100%;
    width: 100%;
    background: #FC0A7E;
    border-radius: 0px 3px 3px 0px;
    font-size: 16px;
    line-height: calc(26 / 16 * 100%);
    color: #1C1C1C;
}
@media (max-width: 767px){
    .footer_top {
        padding: 90px 0 40px 0;
    }
}
@media (max-width: 480px){
    .footer_top {
        padding: 90px 0 10px 0;
    }
}
/*----------------------index14_2---------------*/
.body__index14_2{
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: white;
}
.contant__index14_2{
    text-align: center;
}
.your__page{
    line-height: 110%;
    color: #FC0A7E;
    font-size: 60px;
}
.your__page_2{
    line-height: 110%;
    margin-top: 10px;
    font-size: 25px;
    color: #737373;
}